html {
    height: 100%;
    width: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .center {
    text-align: center;
  }
  
  #joke {
    margin: 35px;
    margin-top: 10px;
    background-color: #e8e8e8;
    padding: 35px 20px;
    color: blue;
    font-family: 'inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  #content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  #btn:hover {
    background-color: #e4e43f;
    scale: 1.02;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  #btn {
    margin: 20px;
    padding: 15px 25px;
    border: none;
    border-radius: 50px;
    background-color: #c0c054;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    bottom: 0;
  
  }
  
  .heading {
    background-color: yellow;
    padding: 10px;
    font-family: inter, sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .cat {
    padding: 5px 15px;
    font-size: 16px;
    margin: 10px;
    background-color: #cbcdfb;
    color: blue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .cat:hover {
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
    scale: 1.05;
    transition: all 0.1s linear;
  }
  
  .categories {
    margin-top: 10px;
    text-align: left;
    margin-left: 32px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }